*{
	padding:0px;
	margin:0px;
}
nav{
	border-bottom:1px solid gray;
}
nav>div>img{
	align-self:flex-end;
}
nav>div>ul{
	list-style:none;
	flex-wrap: wrap;
}
nav>div>ul>li{
	align-self:center;
	text-align:center;
}
nav>div>ul>li>a{
	color:black;
}
nav>div>ul>li>a:hover{
	text-decoration:none;
	color:gray;
}


#cosa2{
	background-image:url(../img/separadores-anime-3.jpg);
	background-size:contain;
	height:20rem;
}
/*Fixed Responsive*/
@media(max-width:576px){
		nav>div>ul>li{
		margin-top:40px;
	}
	#btn-separador{
		margin-bottom:1rem;
	}	
	
	#main_section>p{
		margin-top:1rem
	}
}
/*Fixed*/
button:hover{
	cursor: pointer;
}